.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;

}

.embla__slide__img {
    width: 100%;
    height: calc(100vh - 64px);
    object-fit: cover;
}

@media screen and (max-width: 480px) {
    .embla__slide__img {
        height: calc(100vh - 64px);
    }
}

