/* best breakpoints for css
    * 320px
    * 480px
    * 600px
    * 768px
    * 1024px
    * 1200px
    * 1440px
    * 1920px

    320px 480px •768px •1024px •1300px •1920px
*/

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 64px;

}

.wrapper {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
