/* best breakpoints for css
    * 320px
    * 480px
    * 600px
    * 768px
    * 1024px
    * 1200px
    * 1440px
    * 1920px

    320px 480px •768px •1024px •1300px •1920px
*/

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--background));
    height: 64px;
    border-bottom: 1px solid hsl(var(--border));

}

.wrapper {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper>a {
    display: flex;
    align-items: center;
}

.navLink {
    transition: color 0.1s;
}

.navLink:hover {
    color: hsl(var(--primary));
}

.rightSide {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }
}